body{
  overflow: auto;
}
dashboard-{
  background-color: var(--boxcolor);
  height: 670px;
  width: 1300px;
  border-radius: 9px;
  position: absolute;
  top: 70px;
  left: 100px;
}
table{
  border-collapse: collapse;
  width: 60%;
  margin-left: 20%
}
th {
  background-color: rgb(165, 68, 255);
  text-align: center;
  border: 5px solid var(--boxcolor);
  padding: 8px;
  border-radius: 15px;
}
 td{
  border: 5px solid var(--boxcolor);
  text-align: center;
  padding: 8px;
  background-color: rgb(0, 0, 255);
  border-radius: 15px;
}
h1{
  text-align: center;
}
progress[value="45"]::-webkit-progress-value,
progress[value="46"]::-webkit-progress-value,
progress[value="47"]::-webkit-progress-value,
progress[value="48"]::-webkit-progress-value,
progress[value="49"]::-webkit-progress-value,
progress[value="50"]::-webkit-progress-value,
progress[value="51"]::-webkit-progress-value,
progress[value="52"]::-webkit-progress-value,
progress[value="53"]::-webkit-progress-value,
progress[value="54"]::-webkit-progress-value,
progress[value="55"]::-webkit-progress-value,
progress[value="56"]::-webkit-progress-value,
progress[value="57"]::-webkit-progress-value,
progress[value="58"]::-webkit-progress-value,
progress[value="59"]::-webkit-progress-value,
progress[value="60"]::-webkit-progress-value{
    background: green;
}

progress {
  border-radius: 7px; 
  width: 80%;
  height: 22px;
  margin-top: 20px;
  left: 100px;
  position:absolute;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  background-color: rgb(2, 11, 173);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(255, 0, 0);
  border-radius: 7px;
}
.gehaald{
  background-color: green;
}
.nietgehaald{
  background-color: red;
}
.onbekend{
  background-color: grey;
}
footer{
  left: 100px;
  bottom: -100px;
}
