.box3{
  background-color: var(--boxcolor);
  height: 250%;
  width: 330%;
  border-radius: 9px;
  position: relative;
  left: -200px;
  top: -70px;
}
table{
  border-collapse: collapse;
  width: 60%;
  margin-left: 20%
}
th {
  background-color: rgb(79, 79, 197);
  text-align: center;
  border: 5px solid var(--boxcolor);
  padding: 8px;
  border-radius: 15px;
}
 td{
  border: 5px solid var(--boxcolor);
  text-align: center;
  padding: 8px;
  background-color: rgb(24, 24, 184);
  border-radius: 15px;
}
h1{
  text-align: center;
}
.footerbox{
  top: 330px;
}