faq-{
  position: absolute;
  top: 70px;
  left: 100px;
}
h1{
  background-color: var(--boxcolor);
  border-radius: 9px;
  height: 50px;
  width: 1200px;
  position: relative;
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

h2 {
  margin-bottom: 60px;
}

h3 {
  margin-bottom: 60px;
}

.parent {
  margin-top: 5px;
  font-size: 20px;
  width: 1100px;
  height: 25px;
  margin-left: 50px;
  border-radius: 9px;
  background-color: var(--boxcolor);
  position: relative;
}

.child {
  font-size: 17px;
  width: 1000px;
  height: 40px;
  opacity: 0;
  top: -50px;
  margin-left: 50px;
  position: relative;
  border-radius: 9px;
  transition: 1s;
  z-index: -1;
}

.parent:hover .child {
  transform: translateY(45px);
  opacity: 1;
}

a {
  color: white;
}
footer{
  bottom: 40px;
  left: 100px;
}