welkom-box{
  background-color: var(--boxcolor);
  width: 500px;
  height: 310px;
  border-radius: 9px;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  top: 70px;
  left: 100px;
}


rij-plaatjes{
  background-color: var(--boxcolor);
  width: 830px;
  height: 110px;
  position: absolute;
  border-radius: 9px;
  right: 40px;
  top: 110px;
}
rij-plaatjes img {
  margin-top: 15px;
  margin-left: 15px;
  height: 80px;
  width: 80px;
  transition: .5s ease-in-out;
}
rij-plaatjes img:hover{
  width: 500px;
  height: 500px;
  position: absolute;
  transform: scale(1.3);
  transform: translateX(-400px);
  z-index: 10;
}


.scale-pic-css{
  position:absolute;
  left: 710px;
  z-index: 2;
}
.scale-pic-html{
  position:absolute;
  left: 610px;
  z-index: 3;
}
.scale-pic-js{
  position:absolute;
  left: 510px;
  z-index: 4;
}
.scale-pic-c{
  position:absolute;
  left: 410px;
  z-index: 5;
}
.scale-pic-vb{
  position:absolute;
  left: 310px;
  z-index: 6;
}
.scale-pic-py{
  position:absolute;
  left: 210px;
  z-index: 7;
}
.scale-pic-ardui{
  position:absolute;
  left: 110px;
  z-index: 8;
}
.scale-pic-ti{
  z-index: 9;
  position: absolute;
}

programmeer-ervaring{
  background-color: var(--boxcolor);
  width: 500px;
  height: 200px;
  position: absolute;
  bottom: 70px;
  left: 100px;
  margin-left: 40px;
  border-radius: 9px;
  z-index: -1;
}


footer{
  left:140px;
  bottom: 10px;
}
programmeer-ervaring ol{
  list-style: none;
  margin-left: -15%;
  margin-top: -15px;
}
programmeer-ervaring ol li{
  text-align: center;
}
motivatie-box{
  background-color: var(--boxcolor);
  width: 830px;
  height: 400px;
  position: absolute;
  bottom: 70px;
  right: 40px;
  border-radius: 9px;
  z-index: -1;
}
motivatie-box ol{
  margin-top: -20px;
  list-style:none;
}
motivatie-box img{
  border-radius: 9px;
  height: 140px;
  width: auto;
  position: relative;
}
/* body:has(.touch-block:hover) .box9 img{
  transform: translateX(100%);
  transition: 1s;
}
.touch-block{
  width: 136px;
  height: 140px;
  background-color: var(--boxcolor);
  border-radius: 9px;
  position: absolute;
  top: 225.5px;
  left: 10px;
}

.touch-block-2{
  width: 136px;
  height: 140px;
  background-color: var(--boxcolor);
  border-radius: 9px;
  position: absolute;
  top: 225.5px;
  left: 146px;
  opacity: 0;
} */