profiel-box{
  background-color: var(--boxcolor);
  height: 150px;
  width: 300px;
  border-radius: 9px;
  position: absolute;
  top:0;
  z-index: 50;
  top: 70px;
  left: 100px;
}

mijn-gezicht{
  background-color: var(--boxcolor);
  height: 200px;
  width: 180px;
  border-radius: 9px;
  position: absolute;
  top: 70px;
  left: 420px;
}
.resize-mijngezicht{
  margin-top: 5px;
  margin-left: 2.5px;
  height: 190px;
  width: auto;
  border-radius: 9px;
}
paragraaf-info-1{
  background-color: var(--boxcolor);
  height: 250px;
  width: 500px;
  border-radius: 9px;
  position: absolute;
  top: 70px;
  left: 620px;
  
}
aside{
  background-color: var(--boxcolor);
  height: 200px;
  width: 360px;
  border-radius: 9px;
  position: absolute;
  top: 70px;
  right: 20px;
}
aside h2{
  font-size: 20px;
}
aside ul{
  list-style: none;
  margin-left: -35px;
}
aside li{
  margin-top: 18px;
}
aside li:hover{
  background-color: red;
  height: 20px;
  width: 350px;
  font-size: 15px;
}
aside a{
  text-decoration: none;
  color: yellow;
}

ik-verhaal{
  background-color: var(--boxcolor);
  bottom: 30px;
  left: 100px;
  height: 370px;
  width: 500px;
  border-radius: 9px;
  position: absolute;
  z-index: 1;
}
foto-gallerij{
  background-color: var(--boxcolor);
  bottom: 30px;
  left: 620px;
  height: 330px;
  width: 500px;
  border-radius: 9px;
  position: absolute;
}
foto-gallerij img{
  vertical-align: top;
  margin-top:-20px;
  border-radius: 9px;
}
.dipuit{
  margin-left: 5px;
  width: 120px;
  height: auto;
}
.hond{
  width: 100px;
  height: auto;
}
.molen{
  width: 100px;
  height: auto;
}
.paard{
  margin-top: 5px;
  margin-left: 5px;
  width: 200px;
  height: auto;
}
.rot{
  margin-top: 0px;
  width: 160px;
  height: auto;
}
.ski{
  width: 100px;
  height: auto;
}
kenmerken-{
  background-color: var(--boxcolor);
  bottom: 30px;
  right: 20px;
  height: 380px;
  width: 360px;
  border-radius: 9px;
  position: absolute;
}
.resize-kenmerken{
  height: 160px;
  width: auto;
  border-radius: 9px;
  position:relative;
  bottom: 10px;
  left: 5px;
}

footer{
  position:absolute;
  top: 230px;
  left: 100px;
}