progm-exp{
    width: 1390px;
    height: 535px;
    background-color: var(--boxcolor);
    border-radius: 9px;
    position: absolute;
    left: 120px;
    top: 90px;
}
progm-exp p{
    margin-top: 0px;
}
.program-experience-pic{
    top: 0px;
    right: 0px;
    height: 100%;
    width: 48%;
    border-radius: 9px;
    position:absolute;
}
back-buttom{
    height: 60px;
    width: 200px;
    background-color: var(--boxcolor);
    bottom: 10px;
    border-radius: 9px;
    position: absolute;
    right: 25px;
    text-align: center;
}
back-buttom a{
    display:inline-block;
    margin-top: 10px;
    margin-bottom:auto;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
body:has(back-buttom a:hover) back-buttom{
    background-color: red;
}
footer{
    bottom: 10px;
    left: 120px;
}