swot-box{
    width: 1350px;
    height: 520px;
    background-color: var(--boxcolor);
    border-radius: 9px;
    position: absolute;
    left: 120px;
    top: 90px;
}
swot-box ul{
    list-style: none;
    font-size: 17px;
}
.swot-pic{
    top: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    border-radius: 9px;
    position:absolute;
}
back-buttom{
    height: 60px;
    width: 200px;
    background-color: var(--boxcolor);
    bottom: 20px;
    border-radius: 9px;
    position: absolute;
    right: 65px;
    text-align: center;
}
back-buttom a{
    display:inline-block;
    margin-top: 10px;
    margin-bottom:auto;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
body:has(back-buttom a:hover) back-buttom{
background-color: red;
}
footer{
    bottom: 20px;
    left: 120px;
}