body{
    background-color: rgb(178, 248, 178);
    background-attachment: fixed;
}
/*.hz_image_background{
    background-color: white;
    background: (0,0);
    width: 245px;
    height: 500px;
    margin-left: -20px;
    margin-top: -20px;
}*/
.hz_image{
    background-color: lightgreen;
    width: 2000;
    height: 150;
    margin: -10px auto 5px -10px;
    border-radius: 9px;
    box-shadow: 5px 5px rgb(5, 151, 5)
    
}
.bar{
  background-color: rgb(93, 225, 93);
  box-shadow: 5px 5px rgb(18, 150, 18);
  width: 100%;
  max-width: auto;
  height: 60px;
  margin: -10px;
  border-radius: 9px;
}
.resize{
    width: 200px;
    height: auto;
    margin: 5px auto auto 5px;
}
.resize_2{
    width: auto;
    height: 300px;
}
.navigation_tab{
    background-color: rgb(93, 225, 93);
    width: 80px;
    height: 450px;
    margin: -100px auto auto -80px;
    text-align: center;
    line-height: 70px;
    border-radius: 9px;
    box-shadow: 5px 5px rgb(18, 150, 18);
    transition: 1s;
}


.navigation_tab ul{
    list-style-type: none;
    margin-left: -50px;
}
.navigation_links{
    margin-left: 10px;
    background-color: lightgreen;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: darkgreen;

}
.navigation_links:hover{
  background-color: rgb(105, 230, 105);
  border-color: rgb(11, 87, 11);
  box-shadow: 2px 2px rgb(18, 150, 18);
}
a {
    color: green;
    text-decoration: none;
}
.touch_line{
    background-color: rgb(178, 248, 178);
    width: 10px;
    height: 450px;
    border-radius: 9px;
    margin-left: -10px;
}

.three_lines_image{
    margin: 10px auto auto 10px;
}

.parent:hover .navigation_tab{
  transform: translateX(100%);
}


.profile_text3{
  background-color: lightgreen;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 10px; 
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
}

.div2 {
  grid-area: 2 / 1 / 6 / 2;
}

.div3 { 
  grid-area: 2 / 2 / 4 / 3;
}

.div4 {
  grid-area: 2 / 3 / 4 / 4;
}

.div5 {
  grid-area: 2 / 4 / 4 / 5;
}

.div6 {
  grid-area: 2 / 5 / 4 / 6;
}

.div7 {
  grid-area: 4 / 2 / 6 / 3;
}

.div8 {
  grid-area: 4 / 3 / 6 / 4;
}

.div9 {
  grid-area: 4 / 4 / 6 / 5;
}

.div10 {
  grid-area: 4 / 5 / 6 / 6;
}
/*.wrapper>div {
    border-radius: 5px;
    padding: 1em;
    background-color: rgb(178, 248, 178);
    box-shadow: 5px 5px rgb(5, 151, 5);
}*/
.one {
    grid-column: 1 / 1;
    grid-row: 1;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;

}

.four {
    grid-column: 3;
    grid-row: 3;
}

.five {
    grid-column: 2;
    grid-row: 4;
}

.six {
    grid-column: 3;
    grid-row: 4;
}



/*
body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}



footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
*/