{% extends "/partials/base.html.twig" %}

{% block title %}Programming experience{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/program-experience.css">
{% endblock %}

{% block content %}
    <article class="blog-content">
        <h1>Mijn programmeer ervaring</h1>
        <p>Ik heb tijdens de middelbare school veel verschillende programmeer talen ontdekt.</p>

        <p>Visual basic: Ik gebruikte thuis een oude Windows xp computer, waar visual
            studio op stond. Daar ging ik weer mee experimenteren met behulp van youtube
            en internet, waardoor ik boter, kaas en eieren kon maken. Bij deze taal viel
            het me op dat je de elementen zelf eerst moet vorm geven door middel van een
            soort vormen editor, en daarna kan je die vormen een class geven waarmee je
            met de code er logica aan geeft.
        </p>

        <p>Python, Javascript, c++: In klas 1 ging ik veel programmeer talen ontdekken.
            Het waren niet bepaald makkelijke talen waardoor het nogal lastig was waar
            ik mee moest beginnen. Dus ik heb tot nu toe alleen de basissen geleerd
            van die talen. Het gaf me wel veel kennis over de algemene logica die in
            alle programeertalen zit. Waardoor het nu heel makkelijk voor me is om de
            code te "lezen".
        </p>

        <p>TI-basic: Een rekenmachine, wacht even. Een rekenmachine?! Ja op de
            grafische rekenmachine die ik nodig had in havo 4 heb ik ontzettend veel
            geprogrammeerd. Met de weinige functies die het programma had heb ik wel
            veel verschillende soorten tools/games gemaakt.
        </p>

        <p>Dus mijn programmeer ervaring is best oke op basis van het snappen van de
            logica en het lezen van code. Ik ken de basis van het programmeren.
        </p>

        <img class="blog-content-pic"
             src="/images/program.jpg"
             alt="Plaatje van code in Javascript">
    </article>

    <div class="back-button">
        <a href="../blog">Back</a>
    </div>
{% endblock %}
