{% extends "/templates/baseBlog.html.twig" %}

{% block title %}Programming experience{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/program-experience.css">

{% endblock %}

{% block content %}
    <progm-exp>
        <h1>Mijn programmeer ervaring</h1>
        <p>Ik heb tijdens de middelbare school veel verschillende programmeer talen</br>
            ontdekt.</br>
            </br>
            Visual basic: Ik gebruikte thuis een oude Windows xp computer, waar visual</br>
            studio op stond. Daar ging ik weer mee experimenteren met behulp van youtube</br>
            en internet, waardoor ik boter, kaas en eieren kon maken. Bij deze taal viel</br>
            het me op dat je de elementen zelf eerst moet vorm geven door middel van een</br>
            soort vormen editor, en daarna kan je die vormen een class geven waarmee je</br>
            met de code er logica aan geeft.</br>
            </br>
            Python, Javascript, c++: In klas 1 ging ik veel programmeer talen ontdekken</br>
            Het waren niet bepaald makkelijke talen waardoor het nogal lastig was waar</br>
            ik mee moest beginnen. Dus ik heb tot nu toe alleen de basissen geleerd</br>
            van die talen. Het gaf me wel veel kennis over de algemene logica die in</br>
            alle programeertalen zit. Waardoor het nu heel makkelijk voor me is om de</br>
            code te "lezen".</br>
            </br>
            TI-basic: Een rekenmachine, wacht even. Een rekenmachine?! Ja op de</br>
            grafische rekenmachine die ik nodig had in havo 4 heb ik ontzettend veel</br>
            geprogrammeerd. Met de weinige functies die het programma had heb ik wel</br>
            veel verschillende soorten tools/games gemaakt.</br>
            </br>
            Dus mijn programmeer ervaring is best oke op basis van het snappen van de</br>
            logica en het lezen van code. Ik ken de basis van het programmeren</p>

        <img class="program-experience-pic"
             src="/images/program.jpg"
             alt="Plaatje van code in Javascript">
    </progm-exp>
    <back-buttom>
        <a href="../blog">Back</a>
    </back-buttom>
{% endblock %}
