{% extends "partials/base.html.twig" %}

{% block title %}Studie keuze deel 2{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/studie-keuze.css">
{% endblock %}

{% block content %}
    <article class="blog-content">
        <h1>Studie keuze</h1>

        <p>Nu ik in het derde blok zit van ICT jaar 1, heb ik nieuwe ervaringen opgehaald.
            Die ervaringen zijn best positief.
            Ik heb tijdens het maken van de PCO website veel geleerd, en ook over hoe sommige dingen
            beter kan. (Zoals ik nu bij mijn PCO website denk m.b.t het css gedeelte)
            Daarnaast heb ik ook basis programmeer ervaring gekregen door middel van PBA,
            en computer theorie met CSB, wat ik overigens wat minder interessant vond.
            PBA was heel leuk en ook heel belangrijk als basis voor het programmeren.
            Het blok daarna heb ik OOP gedaan (Object Orientated Programming),
            een hele nieuwe soort van programmeren.
            Wat ik lastig vond toen ik het voor het eerst deed, maar nu wel snap.
            Het OOP project was echt leuk, zeker toen ik zag hoeveel plezier ze hadden
            aan de game en de schoolbezoeken.
            Ik vind het heel leuk ondanks ze wel druk kunnen zijn.
            Als laatst ben ik bezig met FR1, en dat gaat prima.
            Ik vind het best interessant hoe een website van achter de schermen werkt.
            Mijn blik op deze periode terug is nu, heel positief.
            Ik vond alles eigenlijk wel leuk, behalve het professionele gedeelte,
            maar daar wen ik wel aan.
            Ik wil ICT blijven doorstuderen, omdat ik het programmeren en zien
            hoe die code toch best veel kan.
            Ondanks het maar wat variabelen en simpele vergelijkingen zijn.
        </p>

        <img class="blog-content-pic"
             src="/images/studiekeuspart2.png"
             alt="Plaatje van studiekeuze proces">
    </article>

    <div class="back-button">
        <a href="../blog">Back</a>
    </div>
{% endblock %}
