{% extends "/templates/baseBlog.html.twig" %}

{% block title %}SWOT analysis{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/studie-keuze.css">

{% endblock %}

{% block content %}
    <studie-keus>
        <h1>Studie keuze</h1>
        <p>Als een 6 jarige jongen vond ik het leuk om met elektronische</br>
            apperaten te werken. Ik heb al verschillende telefoons en computers</br>
            opengemaakt met behulp van mijn vader, want ik vond het leuk om het</br>
            ingewikkelde systeem te zien van het moederbord. Ik voelde me thuis</br>
            achter de computers van school. Ik heb tijdens de middelbare school</br>
            veel gebruik gemaakt van de computer.</br>
            </br>
            Ik was tijdens de middelbare school bezig om soort van te "hacken",</br>
            omdat ik dat heel interessant vond. Bijv: op school was het niet de</br>
            bedoeling dat je op CMD kan gaan. Maar ik heb een manier gevonden om</br>
            dat toch te doen. Dat vond ik geweldig natuurlijk, en kon elke</br>
            leerlingnummer zien die op het gehele Calvijn College zat.</br>
            Ik kon ook zien dat er verschillende test accounts waren die ze</br>
            gebruikte om het account systeem waarschijnlijk te testen.</br>
            </br>
            Tijdens de middelbare school had ik eerst bedacht om engineering te</br>
            gaan doen vanwege Mechatronica. Ik was naar een meeloopdag gegaan vanwege</br>
            Mechatronica, maar ik vond het toch niks. Dus ik ging daarna kijken</br>
            voor ICT. Dat klikte direct en was 100% zeker dat ik ICT zou gaan doen</br>
        </p>
        <p>Dus ik heb voor ICT gekozen omdat ik interessant vind, en het leuk</br>
            vind om het leven efficienter te maken doordat er programma's het</br>
            voor ons doen, zodat wij meer tijd hebben voor iets anders.
        </p>
        <img class="studie-keuze-pic"
             src="/images/studiekeus.jpg"
             alt="Plaatje wegwijzer met studierichtingen">
    </studie-keus>
    <back-buttom>
        <a href="../blog">Back</a>
    </back-buttom>
{% endblock %}
