ict-dagelijks{
    width: 1350px;
    height: 530px;
    background-color: var(--boxcolor);
    border-radius: 9px;
    position: absolute;
    left: 120px;
    top: 90px;
}
ict-dagelijks p{
    margin-top: 0px;
}
ict-dagelijks a{
    color: white;
}
ict-dagelijks a:hover{
    color: red;
}
ict-dagelijks a:visited{
    color: rgb(137, 124, 255);
}
.alinea{
    font-size: 13px;
}
.ict-dagelijks-leven-pic{
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    border-radius: 9px;
    position:absolute;
}
back-buttom{
    height: 60px;
    width: 200px;
    background-color: var(--boxcolor);
    bottom: 10px;
    border-radius: 9px;
    position: absolute;
    right: 65px;
    text-align: center;
}
back-buttom a{
    display:inline-block;
    margin-top: 10px;
    margin-bottom:auto;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
body:has(back-buttom a:hover) back-buttom{
background-color: red;
}
footer{
    bottom: 10px;
    left: 120px;
}