.blog-content {
  width: 1390px;
  height: 520px;
  background-color: var(--boxcolor);
  border-radius: 9px;
  position: absolute;
  left: 120px;
  top: 90px;
  overflow: hidden;
  padding-right: 42%;
  box-sizing: border-box;
}

.blog-content p {
  margin-top: -5px;
}

.blog-content-pic {
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  border-radius: 9px;
  position: absolute;
}

.back-button {
  height: 60px;
  width: 200px;
  background-color: var(--boxcolor);
  bottom: 20px;
  border-radius: 9px;
  position: absolute;
  right: 25px;
  text-align: center;
}

.back-button a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

body:has(.back-button a:hover) .back-button {
  background-color: red;
}

footer {
  bottom: 20px;
  left: 120px;
}

.edit-button {
  height: 60px;
  width: 200px;
  background-color: var(--boxcolor);
  border-radius: 9px;
  position: absolute;
  bottom: 20px;
  right: 280px;
  text-align: center;
}

.edit-button a {
  display: inline-block;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

body:has(.edit-button a:hover) .edit-button {
  background-color: red;
}