:root{
  --bluecolor: rgb(30, 30, 205);
  --boxcolor: rgb(11, 11, 186);
  --background: rgb(7, 9, 79);
  font-family: monospace;
  color: white;
}

body {
  background-color: var(--background);
  background-attachment: fixed;
  margin:0;
  padding:0;
  overflow: hidden;
}

top-bar {
  background-color: var(--bluecolor);
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
}

.resize_hz_image {
  width: 200px;
  height: auto;
  padding: 5px;
}

nav {
  background-color: var(--bluecolor);
  left: 0;
  top: 0;
  transition: .8s;
  position: absolute
}

touch-line {
  background-color: var(--background);
  width: 10px;
  height: 100%;
  left: 0;
  top: 64.450px;
  position: absolute;
}

touch-line:hover nav {
  transform: translateX(100%);
}

.flex-container{
  display: flex;
  background-color: var(--bluecolor);
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 100%;
  left: -80px;
}

.flex-container > div{
  background-color: var(--boxcolor);
  height: 50px;
  width: 80px;
  text-align: center;
}

.flex-container > img{
  padding-top: 20px;
}

.nav-link{
  display: block;
  text-decoration: none;
  color: yellow;
  width: 100%;
  height: 100%;
}

.nav-link:hover{
  background-color: red;
}

h1 {
  margin: 5px auto auto 5px;
  font-size: 40px;
}

.list_font {
  font-size: 14px;
  margin-left: -10px;
  font-weight: bold;
}

.list_font ul {
  list-style-type: none;
}

.list_font ul li {
  margin-bottom: 17px;
}

footer{
  background-color: var(--boxcolor);
  height: 55px;
  width: 300px;
  border-radius: 9px;
  position: absolute;
  text-align: center;
  font-size: 20px;
}
footer a{
  text-decoration: none;
}

.resize-footer{
  margin-top: 20px;
  height: 20px;
  width: auto;
}

h2, h3, h4, h5, h6{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 25px;
}

ol{
  font-size: 17px;
}

p{
  margin-left: 5px;
  margin-right: 2px;
  font-size: 17px;
}

