<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>

    <link rel="stylesheet" href="./css/style.css">

    {% block styles %}{% endblock %}
</head>
<body>

<header>
    <h1>My Layout</h1>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<script src="/assets/app.js"></script>

{% block scripts %}{% endblock %}
</body>
</html>