{% extends "templates/base.html.twig" %}

{% block title %}FAQ{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/faq.css">
{% endblock %}

{% block content %}
    <faq->
        <h1>Frequent asked Questions</h1>

        <h2 class="parent">Hoe print je een document van je laptop op HZ?
            <p class="child">
                Je moet naar myNetPay gaan zie link
                <a href="https://hz.mynetpay.nl/" target="_blank"
                   rel="noopener noreferrer">MyNetPay
                </a>
                Daarna moet je inloggen, en je bestand uploaden.
                Daarna ga je naar een printer in het gebouw en
                print je het uit met behulp van je studentenpas.
            </p>
        </h2>

        <h2 class="parent">Hoe scan je een document en verzend je het naar je laptop op de HZ?
            <p class="child">Ga naar de printer en leg je papier boven op de scanplaat van de printer.
                Daarna moet je je hz mail invoeren of een andere mail zodat het naar je laptop gaat.
            </p>
        </h2>

        <h2 class="parent">Hoe kan ik iets kopen (bijv als ik me opgeef voor IT introductie evenement) op de HZ webshop?
            <p class="child">Ga naar
                <a href="https://webshop.hz.nl/" target="_blank"
                   rel="noopener noreferrer">Webshop
                </a>
                Daarna kan je jou favorite spullen of abonnementen kopen.
            </p>
        </h2>

        <h2 class="parent">Hoe reseveer je een project ruimte?
            <p class="child">
                Ga naar
                <a href="https://portal.hz.nl/" target="_blank"
                   rel="noopener noreferrer">portal.hz.nl
                </a>
                en kies daarna in je persoonlijk menu voor: Selfservice Portal.
                In deze portaal kan je op de knop reseveren klikken om een ruimte te reseveren
            </p>
        </h2>

        <h2 class="parent">Wat zijn de instructies als je je auto wilt parkeren op HZ parkeerplaats?
            <p class="child">
                Je moet je auto op studentenparkeerplaats parkeren en
                dan je HZ pas gebruiken als je een vergunning hebt om te kunnen parkeren.
            </p>
        </h2>
    </faq->
{% endblock %}
